.header
	.header-wrap
		- if logged_in?
			%ul.header-list.clear
				%li= link_to "ツイート", tweets_path
				%li= link_to "ユーザー", users_path
			%ul.header-list-right
				%li= link_to current_user.name, current_user
				%li= link_to "設定", edit_settings_path
				%li= link_to "ログアウト", sessions_path, method: :delete
		- else
			%ul.header-list-right
				%li= link_to "会員登録", new_registrations_path
				%li= link_to "ログイン", new_sessions_path