#tweets-content
  .container
    .row.clear
      .tweets-profile
        = render partial: "panel"
      .main-contents
        - if notice
          .alert.alert-info= notice
        .list-group
          .main-contents-btn-area.clear
            = link_to "すべてのつぶやき", tweets_path, class: "main-contents-btn"
            = link_to "フォローしている人のつぶやき", timeline_tweets_path, class: "main-contents-btn"
          = render partial: "users/tweet", collection: @tweets